{% extends "base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block body %}
    {% block titre %}Notre site{% endblock %}
    {% block menu %}
        <ul>
            <li><a href="{{ path("Accueil") }}">Accueil</a></li>
            <li><a href="{{ path("my_first") }}" title="Affichage de notre premier controlleur généré" target="blank">my_first</a></li>
            <li><a href="{{ path("third") }}">Page nous présentant</a></li>
        </ul>
    {% endblock %}
    {% block contenu %}{% endblock %}
{% endblock %}